<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tompSys.mapper.SubOrderMapper">
    
    <resultMap type="SubOrder" id="SubOrderResult">
        <result property="subOrderId"    column="sub_order_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="productId"    column="product_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="deadline"    column="deadline"    />
        <result property="qualityStandard"    column="quality_standard"    />
        <result property="productionFile"    column="production_file"    />
    </resultMap>

    <resultMap id="SubOrderProductionPlanResult" type="SubOrder" extends="SubOrderResult">
        <collection property="productionPlanList" ofType="ProductionPlan" column="sub_order_id" select="selectProductionPlanList" />
    </resultMap>

    <resultMap type="ProductionPlan" id="ProductionPlanResult">
        <result property="planId"    column="plan_id"    />
        <result property="subOrderId"    column="sub_order_id"    />
        <result property="factoryId"    column="factory_id"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="actualEndDate"    column="actual_end_date"    />
        <result property="dailyProgress"    column="daily_progress"    />
        <result property="currentStatus"    column="current_status"    />
    </resultMap>

    <sql id="selectSubOrderVo">
        select sub_order_id, order_id, product_id, quantity, deadline, quality_standard, production_file from sub_order
    </sql>

    <select id="selectSubOrderList" parameterType="SubOrder" resultMap="SubOrderResult">
        <include refid="selectSubOrderVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="params.beginQuantity != null and params.beginQuantity != '' and params.endQuantity != null and params.endQuantity != ''"> and quantity between #{params.beginQuantity} and #{params.endQuantity}</if>
            <if test="params.beginDeadline != null and params.beginDeadline != '' and params.endDeadline != null and params.endDeadline != ''"> and deadline between #{params.beginDeadline} and #{params.endDeadline}</if>
            <if test="params.beginQualityStandard != null and params.beginQualityStandard != '' and params.endQualityStandard != null and params.endQualityStandard != ''"> and quality_standard between #{params.beginQualityStandard} and #{params.endQualityStandard}</if>
            <if test="productionFile != null  and productionFile != ''"> and production_file = #{productionFile}</if>
        </where>
    </select>
    
    <select id="selectSubOrderBySubOrderId" parameterType="Long" resultMap="SubOrderProductionPlanResult">
        select sub_order_id, order_id, product_id, quantity, deadline, quality_standard, production_file
        from sub_order
        where sub_order_id = #{subOrderId}
    </select>

    <select id="selectProductionPlanList" resultMap="ProductionPlanResult">
        select plan_id, sub_order_id, factory_id, start_date, end_date, actual_end_date, daily_progress, current_status
        from production_plan
        where sub_order_id = #{sub_order_id}
    </select>

    <insert id="insertSubOrder" parameterType="SubOrder" useGeneratedKeys="true" keyProperty="subOrderId">
        insert into sub_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="deadline != null">deadline,</if>
            <if test="qualityStandard != null">quality_standard,</if>
            <if test="productionFile != null">production_file,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="deadline != null">#{deadline},</if>
            <if test="qualityStandard != null">#{qualityStandard},</if>
            <if test="productionFile != null">#{productionFile},</if>
         </trim>
    </insert>

    <update id="updateSubOrder" parameterType="SubOrder">
        update sub_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="deadline != null">deadline = #{deadline},</if>
            <if test="qualityStandard != null">quality_standard = #{qualityStandard},</if>
            <if test="productionFile != null">production_file = #{productionFile},</if>
        </trim>
        where sub_order_id = #{subOrderId}
    </update>

    <delete id="deleteSubOrderBySubOrderId" parameterType="Long">
        delete from sub_order where sub_order_id = #{subOrderId}
    </delete>

    <delete id="deleteSubOrderBySubOrderIds" parameterType="String">
        -- 先删除生产计划中关联的子订单
        DELETE FROM production_plan
        WHERE sub_order_id IN
        <foreach item="subOrderId" collection="array" open="(" separator="," close=")">
        #{subOrderId}
        </foreach>
        -- 然后删除子订单
        delete from sub_order where sub_order_id in 
        <foreach item="subOrderId" collection="array" open="(" separator="," close=")">
            #{subOrderId}
        </foreach>
    </delete>
    
    <delete id="deleteProductionPlanBySubOrderIds" parameterType="String">
        delete from production_plan where sub_order_id in 
        <foreach item="subOrderId" collection="array" open="(" separator="," close=")">
            #{subOrderId}
        </foreach>
    </delete>

    <delete id="deleteProductionPlanBySubOrderId" parameterType="Long">
        delete from production_plan where sub_order_id = #{subOrderId}
    </delete>

    <insert id="batchProductionPlan">
        insert into production_plan( plan_id, sub_order_id, factory_id, start_date, end_date, actual_end_date, daily_progress, current_status) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.planId}, #{item.subOrderId}, #{item.factoryId}, #{item.startDate}, #{item.endDate}, #{item.actualEndDate}, #{item.dailyProgress}, #{item.currentStatus})
        </foreach>
    </insert>
</mapper>